.title-bar{
  background-color: rgb(45, 43, 122);
  display: flex;
  color: #ffffff;
  padding-left: 15px;
  justify-content: center;
}

.school-search{
  display: flexbox;
  margin-top: 2px;
  width: 55%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid #dddcdd;  
}

.App {
  text-align: center;
}

#result-div div{
  margin: 0px 300px;
  display: flexbox;
  color: #1d111b;
  border: 1px solid #dddcdd;
  padding: 1px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 15px;
}
